{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 offset-md-5 col-sm-12 col-12">
                    <a id="backgroundlink" href="blog_new">Tambah blog</a>
                </div>
            </div>
            {% for data in artikel_obj %}
            <div class="row">
                <div class="col-md-12 offset-md-3 col-sm-6 col-6">
                    <img id="kendalapulsa" src="../../media/{{data.gambar}}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-3 col-sm-6 col-6">
                    <p>{{data.tanggal}}</p>
                </div>
                <div class="col-md-2 offset-md-3 col-sm-6 col-6">
                    <p>{{data.jumlahComment}} comment</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-6 col-6">
                    <div id="paragraf2">
                        <h4>{{data.title}}</h4>
                        <p>{{data.isi|truncatewords:35}}
                            <br>
                            <div id="paragraf2_link">
                                <a href="{% url 'idpost_blog' post_id=data.id %}">Baca Selengkapnya</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}