{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 offset-md-3 col-sm-6 col-6">
                    <img id="kendalapulsa" src="{% static 'img/kendala-sepulsa.jpg' %}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-3 col-sm-6 col-6">
                    <p>September 25, 2018</p>
                </div>
                <div class="col-md-2 offset-md-3 col-sm-6 col-6">
                    <p>0 comment</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-6 col-6">
                    <div id="paragraf2">
                        <h4>Punya Kendala? Segera Hubungi Customer Service sepulsa!</h4>
                        <p>Bagi Sepulsa, kepuasaan pelanggan adalah yang utama. Kami senantiasa mendengarkan keluhan maupun kendala
                            kendala yang kamu hadapi selama melakukan transaksi di Sepulsa. Umumnya pelanggan Sepulsa menghadapi
                            kendala sebagai berikut: Status Order Pending Jika transaksi pembayaran sudah selesai, namun status 
                            order kamu masih pending dalam jangka waktu 15 menit, segera hubungi tim Customer Service dengan
                            menyetarakan email...
                            <br>
                            <div id="paragraf2_link">
                                <a href="https://www.sepulsa.com/">Baca Selengkapnya</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 offset-md-3 col-sm-6 col-6">
                    <div id="sms">
                        <img id="sms" src="{% static 'img/sms.png' %}"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 offset-md-3 col-sm-6 col-6">
                    <p>September 25, 2018</p>
                </div>
                <div class="col-md-2 offset-md-3 col-sm-6 col-6">
                    <p>0 comment</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-6 col-6">
                    <div id="paragraf2">
                        <h4>OTP, Si Kode Rahasia nan Berbahaya</h4>
                        <p> Kemudahan dalam berbagai transaksi perbankan memang banyak memberikan
                            keuntungan bagi nasabah. Bayangkan saja, aktivitas jual beli yang pada awalnya
                            membutuhkan waktu dan tempat, kini bisa dilakukan tanpa perlu beranjak dan 
                            tempat duduk kamu dan pembayaran lunas dalam hitungan detik dengan transaksi
                            online. Namun tanpa disadari, kemudahan tersebut bukan tanpa celah. Sebelum 
                            kita membahas lebih ...
                            <br>
                            <div id="paragraf2_link">
                                <a href="https://www.sepulsa.com/">Baca Selengkapnya</a>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}