{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-6 col-6">
                    <div id="paragraf2">
                        <h4>Punya Kendala? Segera Hubungi Customer Service sepulsa!(Lanjutan) </h4>
                        <p>
                            Harap menghubungi nomor berikut jika anda ingin menghubungi CS sepulsa
                            02187846984. Selamat menikmati,,,, Kendala
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3 col-sm-6 col-6">
                    <div id="paragraf2">
                        <h4>OTP, Si Kode Rahasia nan Berbahaya</h4>
                        <p>
                            Harap menghubungi nomor berikut jika anda ingin menghubungi CS sepulsa
                            02187846984. Selamat menikmati,,,, Si kode rahasia
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}