{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-1 offset-md-2 col-sm-12">
                <img id="benefit_img" src="{% static 'img/benefit.png' %}"/>
            </div>
            <div class="col-md-6 offset-md-2 col-sm-12">
                <div id=paragraf2>
                    <h2>Learn awesome tech</h2>
                    <p>You will learn about programming language, 
                        such as Python and Javascript, build back-end apps using Flask 
                        framework with microservice concept, 
                        build client-site apps using React Library, etc.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-1 offset-md-2 col-sm-12">
                <img id="benefit_img" src="{% static 'img/search-job.png' %}"/>
            </div>
            <div class="col-md-6 offset-md-2 col-sm-12">
                <div id=paragraf2>
                    <h2>Land new job</h2>
                    <p>If you can pass this awesome program, 
                        you will be part of our reliable tech team for especially 
                        Software Engineer position and other tech position such as 
                        Quality Engineer, System Analyst, etc.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-1 offset-md-2 col-sm-12">
                <img id="benefit_img" src="{% static 'img/get-paid.png' %}"/>
            </div>
            <div class="col-md-6 offset-md-2 col-sm-12">
                <div id=paragraf2>
                    <h2>Get paid to learn</h2>
                    <p>Join for free and earn some money. Yes you read that right, 
                        no registration fee required to enter this program. 
                        To make things even better, you will receive pocket money 
                        just for participating. Cool, right?
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row ">
            <div class="col-md-1 offset-md-1 col-sm-12">
                <img id="missionimg" src="{% static 'img/mission.png' %}"/>
            </div>
            <div class="col-md-6 offset-md-3 col-sm-12">
                <div id=paragraf2>
                    <h2>Who are we?</h2>
                    <p>Alpha Tech Academy is a tech talent incubation that 
                        gives anyone any chance (not even an IT background) 
                        to learn within 3 months of being a professional Tech Talent. 
                        What is our mission? We want to improve capability 
                        Tech Talent in Indonesia
                    </p>
                    <h2>What is our mission?</h2>
                    <p>We want to improve capability Tech Talent in Indonesia
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="learning">
        <div class="container">
            <h3 class="title-section text-center">What will you learn?</h3>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="column-learn">
                        <div class="column-middle">
                            <div class="learn-img">
                                <div class="learn-img-middle">
                                    <img class="pictures" src="{% static 'img/learn-html.png' %}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="column-learn">
                        <div class="column-middle">
                            <div class="learn-img">
                                <div class="learn-img-middle">
                                    <img class="pictures" src="{% static 'img/learn-programming.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="column-learn">
                        <div class="column-middle">
                            <div class="learn-img">
                                <div class="learn-img-middle">
                                    <img class="pictures" src="{% static 'img/learn-git.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="column-learn">
                        <div class="column-middle">
                            <div class="learn-img">
                                <div class="learn-img-middle">
                                    <img class="pictures" src="{% static 'img/learn-api.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="column-learn">
                        <div class="column-middle">
                            <div class="learn-img">
                                <div class="learn-img-middle">
                                    <img class="pictures" src="{% static 'img/learn-react.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="column-learn">
                        <div class="column-middle">
                            <div class="learn-img">
                                <div class="learn-img-middle">
                                    <img class="pictures" src="{% static 'img/learn-tdd.png' %}" alt="" width="110px">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="column-learn">
                        <div class="column-middle">
                            <div class="learn-img">
                                <div class="learn-img-middle">
                                    <img class="pictures" src="{% static 'img/learn-server.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="column-learn">
                        <div class="column-middle">
                            <div class="learn-img">
                                <div class="learn-img-middle">  
                                    <img class="pictures" src="{% static 'img/learn-scrum.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}