{% extends 'base.html' %}
{% load static %}
{% block content %}
    
<div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 offset-md-3 col-sm-6 col-6">
                    <img id="authorpict" src="{% static 'img/profile-pic1.jpg' %}"/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 offset-md-3 col-sm-6 col-6">
                    <h3>Muhammad Ridho Rosa</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7 offset-md-3 col-sm-6 col-6">
                    <div id="paragraf2">
                        <p>
                            <span id="boldsebagian">Author's Bio</span>, 
                            Hi, my name is Muhammad Ridho Rosa. Currently, I live in Malang East Java.
                            Before I am joining ATA, I studied at TU Delft, Netherlands. My major is 
                            Embedded Systems and I chose Systems and Controls (SC) as my specializations.
                            Check this <a href="https://scholar.google.co.id/citations?user=qXikO5oAAAAJ&hl=en/">link</a> 
                            if you are interested in adaptive control for multi-agent systems. In a few months later, please check
                            my website to follow my work as a software engineer :).
                        </p>
                        <table class="table borderless">
                            <tbody>
                                <tr>
                                <td>Alamat</td>
                                <td>Eco Pesantren, Cigugur Girang, Bandung.</td>
                                </tr>
                                <tr>
                                <td>Telephone</td>
                                <td>+62 818 022 8261</td>
                                </tr>
                                <tr>
                                <td>Education</td>
                                <td>MSc. in Embedded Systems</td>
                                </tr>
                                <tr>
                                <td>Profession</td>
                                <td>Engineer</td>
                                </tr>
                                <tr>
                                <td>Nationality</td>
                                <td>Indonesian</td>
                                </tr>
                                <tr>
                                <td>Company</td>
                                <td>Alterra</td>
                                </tr>
                                <tr>
                                <td>Email</td>
                                <td>Muhammad Ridho Rosa</td>
                                </tr>
                                <tr>
                                <td>Temporary Address</td>
                                <td>Jl. Sigura-gura, Malang, East Java.</td>
                                </tr>
                            </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 offset-md-3 col-sm-12 col-12">
                    <div id="sms">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3951.314233480313!2d112.60827644979209!3d-7.966441481577961!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7882865ded0697%3A0xa77fa961a7c4e4b7!2sSepulsa+Lodge+Malang!5e0!3m2!1sen!2sid!4v1549978803649" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}