{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 offset-md-5 col-sm-12 col-12">
                    <h2>Our Mentor</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 offset-md-5 col-sm-12 col-12">
                    <a id="backgroundlink" href="mentor_new">Tambah mentor</a>
                </div>
            </div>
            {% for data in mentor_obj %}
            <div class="row">
                <div class="col-md-6 offset-md-1 col-sm-12 col-12">
                    <div id="menteepict">
                        <img id="menteepict" src= "../../media/{{data.profilePict}}"/>
                    </div>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-12 col-12">
                    <div id="menteecomment">
                        <h3>{{data.nama}}</h3>
                        <h6>{{data.jobPosition}} {{data.wokingExp}})</h6>
                        <p>{{data.pesan}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}