{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 offset-md-5 col-sm-12 col-12">
                    <h2>Our Mentor</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-1 col-sm-12 col-12">
                    <div id="menteepict">
                        <img id="menteepict" src="{% static 'img/people-andreas.png' %}"/>
                    </div>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-12 col-12">
                    <div id="menteecomment">
                        <h3>Andreas Nugroho</h3>
                        <h6>Software Ninja (5 years experience)</h6>
                        <p>"Great place to learn about programming. Come join us!."</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-1 col-sm-12 col-12">
                    <div id="menteepict">
                        <img id="menteepict" src="{% static 'img/people-ramdhan.png' %}"/>
                    </div>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-12 col-12">
                    <div id="menteecomment">
                        <h3>Ramdhan Hidayat</h3>
                        <h6>Master Chaos (10 years experience)</h6>
                        <p>"We make this program with passion, hard work and heart. Let's get rock with us!"</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-1 col-sm-12 col-12">
                    <div id="menteepict">
                        <img id="menteepict" src="{% static 'img/people-trimo.png' %}"/>
                    </div>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-12 col-12">
                    <div id="menteecomment">
                            <h3>Trimo Leksono</h3>
                            <h6>Magician (8 years experience)</h6>
                            <p>"The best place for someone who want to be a great IT talent."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}