{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 offset-md-5 col-sm-12 col-12">
                    <h2>Our Mentee</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-1 col-sm-12 col-12">
                    <div id="menteepict">
                        <img id="menteepict" src="{% static 'img/steve.png' %}"/>
                    </div>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-12 col-12">
                    <div id="menteecomment">
                        <h4>Steve Jobs</h4>
                        <p>"I learn so much from Alpha Tech."</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-1 col-sm-12 col-12">
                    <div id="menteepict">
                        <img id="menteepict" src="{% static 'img/lary.png' %}"/>
                    </div>
                </div>
                <div class="col-md-4 offset-md-0 col-sm-12 col-12">
                    <div id="menteecomment">
                        <h4>Lary Page</h4>
                        <p>"Great Place to learn about progrmaming."</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-1 col-sm-12 col-12">
                    <div id="menteepict">
                        <img id="menteepict" src="{% static 'img/mark.png' %}"/>
                    </div>
                </div>
                <div class="col-md-5 offset-md-0 col-sm-12 col-12">
                    <div id="menteecomment">
                        <h4>Mark Zuckenberg</h4>
                        <p>"The best place for someone who want to be a great IT talent."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}